.cart-page {
background-color: #ffffff;
display: flex;
flex-direction: row;
justify-content: center;
width: 100%;
}

.cart-page .div {
background-color: #ffffff;
overflow: hidden;
width: 1440px;
height: 2204px;
position: relative;
}

.cart-page .frame {
position: absolute;
width: 482px;
height: 91px;
top: 158px;
left: 100px;
}

.cart-page .frame-2 {
display: inline-flex;
align-items: center;
gap: 15px;
position: absolute;
top: 0;
left: 0;
}

.cart-page .text-wrapper {
position: relative;
width: fit-content;
margin-top: -1px;
font-family: "Roboto-Regular", Helvetica;
font-weight: 400;
color: #807d7e;
font-size: 18px;
letter-spacing: 0;
line-height: normal;
white-space: nowrap;
}

.cart-page .left-stroke {
position: relative;
width: 5px;
height: 10.14px;
}

.cart-page .text-wrapper-2 {
position: relative;
width: fit-content;
margin-top: -1px;
font-family: "Roboto-Regular", Helvetica;
font-weight: 400;
color: #3c4242;
font-size: 18px;
letter-spacing: 0;
line-height: normal;
white-space: nowrap;
}

.cart-page .frame-3 {
position: absolute;
width: 482px;
height: 39px;
top: 52px;
left: 0;
}

.cart-page .p {
position: absolute;
top: -1px;
left: 0;
font-family: "Roboto-Regular", Helvetica;
font-weight: 400;
color: #807d7e;
font-size: 14px;
letter-spacing: 0.28px;
line-height: normal;
white-space: nowrap;
}

.cart-page .already-registered {
position: absolute;
width: 240px;
height: 13px;
top: 24px;
left: 0;
}

.cart-page .cart-products {
position: relative;
width: 1445px;
height: 706px;
top: 120px;
left: -3px;
}

.cart-page .frame-wrapper {
position: absolute;
width: 1445px;
height: 76px;
top: 0;
left: 0;
background-color: #2c2c2c;
}

.cart-page .frame-4 {
display: flex;
width: 1240px;
align-items: flex-start;
justify-content: space-between;
position: relative;
top: 26px;
left: 102px;
}

.cart-page .text-wrapper-3 {
position: relative;
width: fit-content;
margin-top: -1px;
font-family: "Roboto-Regular", Helvetica;
font-weight: 400;
color: #ffffff;
font-size: 18px;
text-align: center;
letter-spacing: 0;
line-height: normal;
white-space: nowrap;
}

.cart-page .frame-5 {
display: flex;
align-items: flex-start;
gap: 120px;
position: relative;
}

.cart-page .action {
position: relative;
width: fit-content;
margin-top: -1px;
margin-right: -17px;
font-family: "Roboto-Regular", Helvetica;
font-weight: 400;
color: #ffffff;
font-size: 18px;
text-align: center;
letter-spacing: 0;
line-height: normal;
white-space: nowrap;
}

.cart-page .frame-6 {
position: absolute;
width: 1240px;
height: 560px;
top: 146px;
left: 102px;
}

.cart-page .line {
width: 1240px;
top: 169px;
position: absolute;
height: 1px;
left: 0;
object-fit: cover;
}

.cart-page .img {
width: 1240px;
top: 389px;
position: absolute;
height: 1px;
left: 0;
object-fit: cover;
}

.cart-page .overlap {
position: absolute;
width: 1214px;
height: 125px;
top: -5px;
left: 0;
}

.cart-page .frame-7 {
position: absolute;
width: 1210px;
height: 120px;
top: 5px;
left: 4px;
}

.cart-page .cart-product {
position: absolute;
width: 341px;
height: 120px;
top: 0;
left: 0;
}

.cart-page .frame-8 {
position: relative;
width: 216px;
height: 70px;
left: 125px;
}

.cart-page .blue-flower-print {
position: absolute;
top: -1px;
left: 0;
font-family: "Roboto-Bold", Helvetica;
font-weight: 700;
color: #2c2c2c;
font-size: 18px;
letter-spacing: 0.36px;
line-height: normal;
white-space: nowrap;
}

.cart-page .text-wrapper-4 {
position: absolute;
top: 52px;
left: 0;
font-family: "Roboto-Regular", Helvetica;
font-weight: 400;
color: #3c4242;
font-size: 14px;
letter-spacing: 0;
line-height: normal;
white-space: nowrap;
}

.cart-page .text-wrapper-5 {
position: absolute;
top: 30px;
left: 0;
font-family: "Roboto-Regular", Helvetica;
font-weight: 400;
color: #3c4242;
font-size: 14px;
letter-spacing: 0;
line-height: normal;
white-space: nowrap;
}

.cart-page .text-wrapper-6 {
top: 48px;
left: 403px;
font-family: "Roboto-Bold", Helvetica;
font-weight: 700;
color: #2c2c2c;
font-size: 18px;
letter-spacing: 0;
position: absolute;
line-height: normal;
white-space: nowrap;
}

.cart-page .text-wrapper-7 {
position: absolute;
top: 48px;
left: 982px;
font-family: "Roboto-Bold", Helvetica;
font-weight: 700;
color: #2c2c2c;
font-size: 18px;
letter-spacing: 0;
line-height: normal;
white-space: nowrap;
}

.cart-page .text-wrapper-8 {
position: absolute;
top: 48px;
left: 788px;
font-family: "Roboto-Bold", Helvetica;
font-weight: 700;
color: #bebcbd;
font-size: 18px;
letter-spacing: 0.36px;
line-height: normal;
white-space: nowrap;
}

.cart-page .deletecon {
position: absolute;
width: 17px;
height: 20px;
top: 50px;
left: 1196px;
}

.cart-page .quantity {
position: absolute;
width: 100px;
height: 36px;
top: 42px;
left: 558px;
background-color: #f6f6f6;
border-radius: 12px;
}

.cart-page .frame-9 {
position: relative;
width: 54px;
height: 14px;
top: 11px;
left: 23px;
}

.cart-page .icon {
position: absolute;
width: 10px;
height: 1px;
top: 6px;
left: -1px;
}

.cart-page .text-wrapper-9 {
position: absolute;
top: -1px;
left: 25px;
font-family: "Roboto-Regular", Helvetica;
font-weight: 400;
color: #2c2c2c;
font-size: 12px;
letter-spacing: 0;
line-height: normal;
white-space: nowrap;
}

.cart-page .icon-2 {
position: absolute;
width: 10px;
height: 10px;
top: 2px;
left: 45px;
}

.cart-page .element {
position: absolute;
width: 105px;
height: 120px;
top: 0;
left: 0;
}

.cart-page .overlap-group {
position: absolute;
width: 1210px;
height: 131px;
top: 209px;
left: 4px;
}

.cart-page .frame-10 {
position: absolute;
width: 1210px;
height: 120px;
top: 11px;
left: 0;
}

.cart-page .text-wrapper-10 {
top: 48px;
left: 402px;
font-family: "Roboto-Bold", Helvetica;
font-weight: 700;
color: #2c2c2c;
font-size: 18px;
letter-spacing: 0;
position: absolute;
line-height: normal;
white-space: nowrap;
}

.cart-page .text-wrapper-11 {
top: 48px;
left: 980px;
font-family: "Roboto-Bold", Helvetica;
font-weight: 700;
color: #2c2c2c;
font-size: 18px;
letter-spacing: 0;
position: absolute;
line-height: normal;
white-space: nowrap;
}

.cart-page .frame-11 {
position: relative;
width: 55px;
height: 14px;
top: 11px;
left: 23px;
}

.cart-page .text-wrapper-12 {
position: absolute;
top: -1px;
left: 24px;
font-family: "Roboto-Regular", Helvetica;
font-weight: 400;
color: #2c2c2c;
font-size: 12px;
letter-spacing: 0;
line-height: normal;
white-space: nowrap;
}

.cart-page .icon-3 {
position: absolute;
width: 10px;
height: 10px;
top: 2px;
left: 46px;
}

.cart-page .element-2 {
position: absolute;
width: 110px;
height: 130px;
top: 0;
left: 0;
}

.cart-page .overlap-2 {
position: absolute;
width: 1214px;
height: 150px;
top: 435px;
left: 0;
}

.cart-page .text-wrapper-13 {
top: 48px;
left: 400px;
font-family: "Roboto-Bold", Helvetica;
font-weight: 700;
color: #2c2c2c;
font-size: 18px;
letter-spacing: 0;
position: absolute;
line-height: normal;
white-space: nowrap;
}

.cart-page .text-wrapper-14 {
top: 48px;
left: 978px;
font-family: "Roboto-Bold", Helvetica;
font-weight: 700;
color: #2c2c2c;
font-size: 18px;
letter-spacing: 0;
position: absolute;
line-height: normal;
white-space: nowrap;
}

.cart-page .text-wrapper-15 {
left: 784px;
position: absolute;
top: 48px;
font-family: "Roboto-Bold", Helvetica;
font-weight: 700;
color: #bebcbd;
font-size: 18px;
letter-spacing: 0.36px;
line-height: normal;
white-space: nowrap;
}

.cart-page .element-bf-b-bd {
position: absolute;
width: 105px;
height: 150px;
top: 0;
left: 0;
object-fit: cover;
}

.cart-page .sub-total {
position: absolute;
width: 1440px;
height: 368px;
top: 1105px;
left: 0;
background-color: #f6f6f6;
}

.cart-page .proceed-check-out {
position: absolute;
width: 465px;
height: 367px;
top: 0;
left: 875px;
background-color: #f3f3f3;
}

.cart-page .line-2 {
position: absolute;
width: 465px;
height: 1px;
top: 221px;
left: 0;
object-fit: cover;
}

.cart-page .frame-12 {
position: absolute;
width: 283px;
height: 133px;
top: 39px;
left: 91px;
}

.cart-page .text-wrapper-16 {
position: absolute;
top: -1px;
left: 0;
font-family: "Roboto-Regular", Helvetica;
font-weight: 400;
color: #3c4242;
font-size: 22px;
letter-spacing: 0.44px;
line-height: normal;
white-space: nowrap;
}

.cart-page .text-wrapper-17 {
top: -1px;
left: 202px;
font-family: "Roboto-Regular", Helvetica;
font-weight: 400;
color: #3c4242;
font-size: 22px;
letter-spacing: 0.44px;
position: absolute;
line-height: normal;
white-space: nowrap;
}

.cart-page .text-wrapper-18 {
top: 40px;
color: #3c4242;
font-size: 22px;
letter-spacing: 0.44px;
line-height: normal;
position: absolute;
left: 0;
font-family: "Roboto-Regular", Helvetica;
font-weight: 400;
white-space: nowrap;
}

.cart-page .text-wrapper-19 {
top: 40px;
left: 202px;
font-family: "Roboto-Regular", Helvetica;
font-weight: 400;
color: #3c4242;
font-size: 22px;
letter-spacing: 0.44px;
position: absolute;
line-height: normal;
white-space: nowrap;
}

.cart-page .text-wrapper-20 {
position: absolute;
top: 106px;
left: 0;
font-family: "Roboto-Bold", Helvetica;
font-weight: 700;
color: #3c4242;
font-size: 22px;
letter-spacing: 0.44px;
line-height: normal;
white-space: nowrap;
}

.cart-page .text-wrapper-21 {
top: 106px;
left: 202px;
font-family: "Roboto-Bold", Helvetica;
font-weight: 700;
color: #3c4242;
font-size: 22px;
letter-spacing: 0.44px;
position: absolute;
line-height: normal;
white-space: nowrap;
}

.cart-page .check-out {
display: flex;
width: 232px;
align-items: center;
justify-content: center;
gap: 12px;
padding: 12px 20px;
position: absolute;
top: 272px;
left: 117px;
background-color: #3c4242;
border-radius: 8px;
}

.cart-page .button {
all: unset;
box-sizing: border-box;
margin-top: -1px;
color: #ffffff;
font-size: 18px;
position: relative;
width: fit-content;
font-family: "Roboto-Regular", Helvetica;
font-weight: 400;
text-align: center;
letter-spacing: 0;
line-height: normal;
white-space: nowrap;
}

.cart-page .discount-codes {
position: absolute;
width: 375px;
height: 222px;
top: 29px;
left: 99px;
}

.cart-page .discount-codes-2 {
position: absolute;
top: -1px;
left: 0;
font-family: "Roboto-Regular", Helvetica;
font-weight: 400;
color: #3c4242;
font-size: 24px;
letter-spacing: 0;
line-height: normal;
white-space: nowrap;
}

.cart-page .text-wrapper-22 {
position: absolute;
top: 38px;
left: 0;
font-family: "Roboto-Regular", Helvetica;
font-weight: 400;
color: #807d7e;
font-size: 16px;
letter-spacing: 0;
line-height: normal;
white-space: nowrap;
}

.cart-page .coupon {
position: absolute;
width: 375px;
height: 43px;
top: 99px;
left: 0;
background-color: #ffffff;
border-radius: 12px;
border: 1px solid;
border-color: #bebcbd;
}

.cart-page .div-wrapper {
position: relative;
width: 161px;
height: 43px;
left: 214px;
background-image: url(./img/rectangle-737.svg);
background-size: 100% 100%;
}

.cart-page .text-wrapper-23 {
position: absolute;
top: 11px;
left: 31px;
font-family: "Roboto-Regular", Helvetica;
font-weight: 400;
color: #ffffff;
font-size: 16px;
letter-spacing: 0;
line-height: normal;
white-space: nowrap;
}

.cart-page .check-out-2 {
display: flex;
width: 232px;
align-items: center;
justify-content: center;
gap: 12px;
padding: 12px 20px;
position: absolute;
top: 179px;
left: 0;
background-color: #ffffff;
border-radius: 8px;
border: 1px solid;
border-color: #bebcbd;
}

.cart-page .button-2 {
all: unset;
box-sizing: border-box;
margin-top: -1px;
color: #3c4242;
font-size: 16px;
position: relative;
width: fit-content;
font-family: "Roboto-Regular", Helvetica;
font-weight: 400;
text-align: center;
letter-spacing: 0;
line-height: normal;
white-space: nowrap;
}

.cart-page .div-2 {
position: absolute;
width: 1440px;
height: 108px;
top: 0;
left: 0;
}

.cart-page .overlap-3 {
position: relative;
height: 108px;
}

.cart-page .frame-13 {
position: absolute;
width: 1237px;
height: 45px;
top: 31px;
left: 102px;
}

.cart-page .navbar {
display: inline-flex;
align-items: center;
justify-content: center;
gap: 40px;
position: absolute;
top: 9px;
left: 179px;
}

.cart-page .text-wrapper-24 {
position: relative;
width: fit-content;
margin-top: -1px;
font-family: "Roboto-Regular", Helvetica;
font-weight: 400;
color: #807d7e;
font-size: 22px;
letter-spacing: 0;
line-height: normal;
white-space: nowrap;
}

.cart-page .text-wrapper-25 {
position: relative;
width: fit-content;
margin-top: -1px;
font-family: "Roboto-Regular", Helvetica;
font-weight: 400;
color: #7f7c7d;
font-size: 22px;
letter-spacing: 0;
line-height: normal;
white-space: nowrap;
}

.cart-page .button-3 {
all: unset;
box-sizing: border-box;
display: flex;
width: 267px;
align-items: center;
gap: 12px;
padding: 12px 20px;
position: absolute;
top: 0;
left: 738px;
background-color: #f6f6f6;
border-radius: 8px;
}

.cart-page .img-2 {
position: relative;
width: 20px;
height: 20px;
}

.cart-page .button-4 {
all: unset;
box-sizing: border-box;
margin-top: -0.5px;
color: #807d7e;
font-size: 16px;
position: relative;
width: fit-content;
font-family: "Roboto-Regular", Helvetica;
font-weight: 400;
text-align: center;
letter-spacing: 0;
line-height: normal;
white-space: nowrap;
}

.cart-page .frame-14 {
display: inline-flex;
align-items: flex-start;
gap: 12px;
position: absolute;
top: 0;
left: 1081px;
}

.cart-page .component {
display: inline-flex;
align-items: center;
justify-content: center;
gap: 12px;
padding: 12px;
position: relative;
flex: 0 0 auto;
background-color: #f6f6f6;
border-radius: 8px;
}

.cart-page .shopping-cart-wrapper {
display: inline-flex;
align-items: center;
justify-content: center;
gap: 12px;
padding: 12px;
position: relative;
flex: 0 0 auto;
background-color: #fe0000;
border-radius: 8px;
}

.cart-page .rectangle {
position: absolute;
width: 1440px;
height: 108px;
top: 0;
left: 0;
border-bottom-width: 1px;
border-bottom-style: solid;
border-color: #bebcbd;
}

.cart-page .images {
position: absolute;
width: 104px;
height: 100px;
top: 4px;
left: 48px;
object-fit: cover;
}

.cart-page .need-help-section {
position: absolute;
width: 1440px;
height: 731px;
top: 1473px;
left: 2px;
background-color: #3c4242;
}

.cart-page .frame-15 {
position: relative;
width: 1220px;
height: 613px;
top: 59px;
left: 110px;
}

.cart-page .icon-4 {
position: absolute;
width: 20px;
height: 11px;
top: 491px;
left: 1169px;
}

.cart-page .frame-16 {
position: absolute;
width: 1059px;
height: 292px;
top: 0;
left: 76px;
}

.cart-page .frame-17 {
position: absolute;
width: 394px;
height: 204px;
top: 0;
left: 665px;
}

.cart-page .text-wrapper-26 {
position: absolute;
top: -1px;
left: 0;
font-family: "Roboto-Bold", Helvetica;
font-weight: 700;
color: #f6f6f6;
font-size: 28.6px;
letter-spacing: 0;
line-height: 62px;
white-space: nowrap;
}

.cart-page .frame-18 {
position: absolute;
width: 394px;
height: 127px;
top: 77px;
left: 0;
}

.cart-page .text-wrapper-27 {
position: absolute;
top: -21px;
left: 0;
font-family: "Roboto-Regular", Helvetica;
font-weight: 400;
color: #f6f6f6;
font-size: 18px;
letter-spacing: 0;
line-height: 39px;
white-space: nowrap;
}

.cart-page .text-wrapper-28 {
position: absolute;
top: 24px;
left: 0;
font-family: "Roboto-Regular", Helvetica;
font-weight: 400;
color: #f6f6f6;
font-size: 18px;
letter-spacing: 0;
line-height: 39px;
white-space: nowrap;
}

.cart-page .frame-19 {
position: absolute;
width: 162px;
height: 248px;
top: 0;
left: 423px;
}

.cart-page .frame-20 {
position: absolute;
width: 162px;
height: 171px;
top: 77px;
left: 0;
}

.cart-page .text-wrapper-29 {
position: absolute;
top: -1px;
left: 0;
font-family: "Roboto-Regular", Helvetica;
font-weight: 400;
color: #f6f6f6;
font-size: 18px;
letter-spacing: 0;
line-height: 39px;
white-space: nowrap;
}

.cart-page .text-wrapper-30 {
position: absolute;
top: 43px;
left: 0;
font-family: "Roboto-Regular", Helvetica;
font-weight: 400;
color: #f6f6f6;
font-size: 18px;
letter-spacing: 0;
line-height: 39px;
white-space: nowrap;
}

.cart-page .text-wrapper-31 {
top: 87px;
color: #f6f6f6;
font-size: 18px;
letter-spacing: 0;
line-height: 39px;
position: absolute;
left: 0;
font-family: "Roboto-Regular", Helvetica;
font-weight: 400;
white-space: nowrap;
}

.cart-page .text-wrapper-32 {
position: absolute;
top: 131px;
left: 0;
font-family: "Roboto-Regular", Helvetica;
font-weight: 400;
color: #f6f6f6;
font-size: 18px;
letter-spacing: 0;
line-height: 39px;
white-space: nowrap;
}

.cart-page .frame-21 {
position: absolute;
width: 142px;
height: 292px;
top: 0;
left: 0;
}

.cart-page .frame-22 {
position: absolute;
width: 142px;
height: 215px;
top: 77px;
left: 0;
}

.cart-page .text-wrapper-33 {
position: absolute;
top: 175px;
left: 0;
font-family: "Roboto-Regular", Helvetica;
font-weight: 400;
color: #f6f6f6;
font-size: 18px;
letter-spacing: 0;
line-height: 39px;
white-space: nowrap;
}

.cart-page .frame-23 {
position: absolute;
width: 121px;
height: 292px;
top: 0;
left: 222px;
}

.cart-page .frame-24 {
position: absolute;
width: 108px;
height: 215px;
top: 77px;
left: 0;
}

.cart-page .text-wrapper-34 {
position: absolute;
width: 242px;
height: 21px;
top: 484px;
left: 76px;
font-family: "Roboto-Bold", Helvetica;
font-weight: 700;
color: #f6f6f6;
font-size: 28.6px;
letter-spacing: 0;
line-height: 57.2px;
white-space: nowrap;
}

.cart-page .frame-25 {
display: inline-flex;
align-items: flex-start;
gap: 9.97px;
position: absolute;
top: 369px;
left: 83px;
}

.cart-page .group {
width: 37.02px;
background-color: #f6f6f6;
border-radius: 10.68px;
position: relative;
height: 37.02px;
}

.cart-page .vector {
position: absolute;
width: 10px;
height: 18px;
top: 9px;
left: 14px;
}

.cart-page .vector-2 {
width: 16px;
height: 16px;
position: absolute;
top: 11px;
left: 11px;
}

.cart-page .vector-3 {
width: 18px;
height: 14px;
position: absolute;
top: 11px;
left: 11px;
}

.cart-page .overlap-group-wrapper {
width: 39.02px;
margin-right: -2px;
position: relative;
height: 37.02px;
}

.cart-page .overlap-group-2 {
position: relative;
width: 37px;
height: 37px;
background-color: #f6f6f6;
border-radius: 10.68px;
}

.cart-page .text-wrapper-35 {
position: absolute;
width: 16px;
top: 4px;
left: 11px;
font-family: "Roboto-Bold", Helvetica;
font-weight: 700;
color: #2c2c2c;
font-size: 17.1px;
letter-spacing: 0.34px;
line-height: 28.5px;
white-space: nowrap;
}

.cart-page .line-3 {
width: 1220px;
top: 455px;
position: absolute;
height: 1px;
left: 0;
object-fit: cover;
}

.cart-page .line-4 {
width: 1220px;
top: 539px;
position: absolute;
height: 1px;
left: 0;
object-fit: cover;
}

.cart-page .text-wrapper-36 {
position: absolute;
height: 36px;
top: 576px;
left: 377px;
font-family: "Roboto-Bold", Helvetica;
font-weight: 700;
color: #ffffff;
font-size: 18px;
letter-spacing: 0;
line-height: 36px;
white-space: nowrap;
}