.check-email {
background-color: #ffffff;
display: flex;
flex-direction: row;
justify-content: center;
width: 100%;
}

.check-email .div {
background-color: #ffffff;
overflow: hidden;
width: 1440px;
height: 1067px;
position: relative;
}

.check-email .bert-b {
position: absolute;
width: 695px;
height: 956px;
top: -422px;
left: -720px;
}

.check-email .text-wrapper {
position: absolute;
height: 46px;
top: 163px;
left: 772px;
font-family: "Open Sans-Regular", Helvetica;
font-weight: 400;
color: #333333;
font-size: 34px;
letter-spacing: 0.68px;
line-height: normal;
}

.check-email .please-check-your {
position: absolute;
width: 544px;
height: 34px;
top: -296px;
left: 53px;
}

.check-email .frame {
display: inline-flex;
align-items: center;
justify-content: center;
gap: 10px;
position: absolute;
top: 302px;
left: 772px;
}

.check-email .chevron-left {
position: relative;
width: 13px;
height: 13px;
}

.check-email .back-to-login {
position: relative;
width: fit-content;
margin-top: -1px;
font-family: "Roboto-Regular", Helvetica;
font-weight: 400;
color: transparent;
font-size: 16px;
letter-spacing: 0;
line-height: normal;
white-space: nowrap;
}

.check-email .span {
color: #807d7e;
}

.check-email .text-wrapper-2 {
color: #807d7e;
text-decoration: underline;
}

.check-email .overlap-group-wrapper {
position: absolute;
width: 1440px;
height: 111px;
top: 0;
left: 0;
border-bottom-width: 1px;
border-bottom-style: solid;
border-color: #bebcbd;
}

.check-email .overlap-group {
position: relative;
width: 1292px;
height: 100px;
top: 5px;
left: 48px;
}

.check-email .frame-2 {
position: absolute;
width: 1240px;
height: 46px;
top: 29px;
left: 52px;
}

.check-email .select-langauge {
position: absolute;
width: 206px;
height: 24px;
top: 12px;
left: 649px;
}

.check-email .text-wrapper-3 {
position: absolute;
top: -1px;
left: 0;
font-family: "Roboto-Regular", Helvetica;
font-weight: 400;
color: #333333;
font-size: 18px;
letter-spacing: 0;
line-height: normal;
white-space: nowrap;
}

.check-email .vector {
position: absolute;
width: 24px;
height: 24px;
top: -3627px;
left: 4621px;
}

.check-email .img {
position: absolute;
width: 10px;
height: 5px;
top: 10px;
left: 189px;
}

.check-email .button {
all: unset;
box-sizing: border-box;
display: inline-flex;
align-items: center;
justify-content: center;
gap: 12px;
padding: 12px 48px;
position: absolute;
top: 0;
left: 255px;
background-color: #f6f6f6;
border-radius: 8px;
}

.check-email .search {
position: relative;
width: 20px;
height: 20px;
}

.check-email .button-2 {
all: unset;
box-sizing: border-box;
position: relative;
width: fit-content;
margin-top: -1px;
font-family: "Roboto-Regular", Helvetica;
font-weight: 400;
color: #807d7e;
font-size: 18px;
text-align: center;
letter-spacing: 0;
line-height: normal;
white-space: nowrap;
}

.check-email .button-3 {
all: unset;
box-sizing: border-box;
display: inline-flex;
align-items: center;
justify-content: center;
gap: 12px;
padding: 12px 48px;
position: absolute;
top: 0;
left: 915px;
background-color: #3c4242;
border-radius: 8px;
}

.check-email .button-4 {
all: unset;
box-sizing: border-box;
position: relative;
width: fit-content;
margin-top: -1px;
font-family: "Roboto-Regular", Helvetica;
font-weight: 400;
color: #ffffff;
font-size: 18px;
text-align: center;
letter-spacing: 0;
line-height: normal;
white-space: nowrap;
}

.check-email .button-5 {
all: unset;
box-sizing: border-box;
display: inline-flex;
align-items: center;
justify-content: center;
gap: 12px;
padding: 12px 48px;
position: absolute;
top: 0;
left: 1084px;
border-radius: 8px;
border: 1px solid;
border-color: #3c4242;
}

.check-email .button-6 {
all: unset;
box-sizing: border-box;
position: relative;
width: fit-content;
margin-top: -1px;
font-family: "Roboto-Regular", Helvetica;
font-weight: 400;
color: #3c4242;
font-size: 18px;
text-align: center;
letter-spacing: 0;
line-height: normal;
white-space: nowrap;
}

.check-email .images {
position: absolute;
width: 104px;
height: 100px;
top: 0;
left: 0;
object-fit: cover;
}