.my-order {
background-color: #ffffff;
display: flex;
flex-direction: row;
justify-content: center;
width: 100%;
}

.my-order .div {
background-color: #ffffff;
overflow: hidden;
width: 1440px;
height: 2143px;
position: relative;
}

.my-order .overlap {
position: absolute;
width: 1716px;
height: 640px;
top: 0;
left: -276px;
}

.my-order .frame {
display: inline-flex;
align-items: center;
gap: 15px;
position: absolute;
top: 131px;
left: 376px;
}

.my-order .text-wrapper {
position: relative;
width: fit-content;
margin-top: -1px;
font-family: "Roboto-Regular", Helvetica;
font-weight: 400;
color: #807d7e;
font-size: 18px;
letter-spacing: 0;
line-height: normal;
white-space: nowrap;
}

.my-order .left-stroke {
position: relative;
width: 5px;
height: 10.14px;
}

.my-order .text-wrapper-2 {
position: relative;
width: fit-content;
margin-top: -1px;
font-family: "Roboto-Regular", Helvetica;
font-weight: 400;
color: #3c4242;
font-size: 18px;
letter-spacing: 0;
line-height: normal;
white-space: nowrap;
}

.my-order .hello-jhanvi {
position: absolute;
width: 304px;
height: 31px;
top: 205px;
left: 376px;
}

.my-order .text-wrapper-3 {
position: absolute;
width: 183px;
top: -1px;
left: 21px;
font-family: "Open Sans-Regular", Helvetica;
font-weight: 400;
color: #3c4242;
font-size: 28px;
letter-spacing: 0.56px;
line-height: 33.5px;
white-space: nowrap;
}

.my-order .rectangle {
position: absolute;
width: 6px;
height: 28px;
top: 1px;
left: 0;
background-color: #fe0000;
border-radius: 10px;
}

.my-order .text-wrapper-4 {
position: absolute;
width: 183px;
top: 204px;
left: 720px;
font-family: "Open Sans-Regular", Helvetica;
font-weight: 400;
color: #3c4242;
font-size: 28px;
letter-spacing: 0.56px;
line-height: 33.5px;
white-space: nowrap;
}

.my-order .text-wrapper-5 {
position: absolute;
width: 215px;
top: 245px;
left: 376px;
font-family: "Open Sans-Regular", Helvetica;
font-weight: 400;
color: #807d7e;
font-size: 14px;
letter-spacing: 0.28px;
line-height: 33.5px;
white-space: nowrap;
}

.my-order .my-orders {
position: absolute;
width: 295px;
height: 44px;
top: 307px;
left: 376px;
}

.my-order .overlap-group {
position: relative;
height: 44px;
}

.my-order .rectangle-wrapper {
position: absolute;
width: 295px;
height: 44px;
top: 0;
left: 0;
background-image: url(./img/rectangle-748-2.svg);
background-size: 100% 100%;
}

.my-order .rectangle-2 {
width: 2px;
height: 44px;
background-color: #3c4242;
}

.my-order .frame-2 {
position: absolute;
width: 114px;
height: 22px;
top: 11px;
left: 37px;
}

.my-order .text-wrapper-6 {
position: absolute;
top: -1px;
left: 37px;
font-family: "Roboto-Regular", Helvetica;
font-weight: 400;
color: #807d7e;
font-size: 18px;
letter-spacing: 0;
line-height: normal;
white-space: nowrap;
}

.my-order .img {
position: absolute;
width: 22px;
height: 22px;
top: 0;
left: 0;
}

.my-order .overlap-2 {
position: absolute;
width: 1716px;
height: 640px;
top: 0;
left: 0;
}

.my-order .rectangle-3 {
position: absolute;
width: 3px;
height: 176px;
top: 240px;
left: 807px;
background-color: #3c4242;
transform: rotate(90deg);
}

.my-order .rectangle-4 {
position: absolute;
width: 3px;
height: 719px;
top: -32px;
left: 1255px;
background-color: #f6f6f6;
transform: rotate(90deg);
}

.my-order .text-wrapper-7 {
position: absolute;
width: 70px;
top: 285px;
left: 774px;
font-family: "Open Sans-Regular", Helvetica;
font-weight: 400;
color: #3c4242;
font-size: 22px;
letter-spacing: 0.44px;
line-height: 33.5px;
white-space: nowrap;
}

.my-order .text-wrapper-8 {
position: absolute;
width: 125px;
top: 285px;
left: 1130px;
font-family: "Open Sans-Regular", Helvetica;
font-weight: 400;
color: #3c4242;
font-size: 22px;
letter-spacing: 0.44px;
line-height: 33.5px;
white-space: nowrap;
}

.my-order .line {
top: 240px;
left: 0;
position: absolute;
width: 895px;
height: 1px;
object-fit: cover;
}

.my-order .frame-wrapper {
position: absolute;
width: 895px;
height: 135px;
top: 379px;
left: 720px;
background-color: #f6f6f6;
border-radius: 8px;
}

.my-order .frame-3 {
position: relative;
width: 801px;
height: 79px;
top: 28px;
left: 47px;
}

.my-order .text-wrapper-9 {
position: absolute;
height: 23px;
top: 0;
left: -5px;
font-family: "Roboto-Regular", Helvetica;
font-weight: 400;
color: #3c4242;
font-size: 20px;
text-align: center;
letter-spacing: 0;
line-height: normal;
white-space: nowrap;
}

.my-order .frame-4 {
position: absolute;
width: 801px;
height: 41px;
top: 38px;
left: 0;
}

.my-order .order-date-june {
position: absolute;
height: 16px;
top: -1px;
left: -5px;
font-family: "Roboto-Regular", Helvetica;
font-weight: 400;
color: transparent;
font-size: 14px;
text-align: center;
letter-spacing: 0;
line-height: normal;
white-space: nowrap;
}

.my-order .span {
color: #807d7e;
}

.my-order .text-wrapper-10 {
color: #bebcbd;
}

.my-order .order-status {
left: 644px;
position: absolute;
height: 16px;
top: -1px;
font-family: "Roboto-Regular", Helvetica;
font-weight: 400;
color: transparent;
font-size: 14px;
text-align: right;
letter-spacing: 0;
line-height: normal;
white-space: nowrap;
}

.my-order .estimated-delivery {
position: absolute;
height: 16px;
top: 23px;
left: -3px;
font-family: "Roboto-Regular", Helvetica;
font-weight: 400;
color: transparent;
font-size: 14px;
text-align: center;
letter-spacing: 0;
line-height: normal;
white-space: nowrap;
}

.my-order .payment-method-cash {
position: absolute;
height: 16px;
top: 23px;
left: 581px;
font-family: "Roboto-Regular", Helvetica;
font-weight: 400;
color: transparent;
font-size: 14px;
text-align: right;
letter-spacing: 0;
line-height: normal;
white-space: nowrap;
}

.my-order .frame-5 {
position: absolute;
width: 894px;
height: 96px;
top: 544px;
left: 720px;
}

.my-order .frame-6 {
position: absolute;
width: 142px;
height: 90px;
top: 3px;
left: 121px;
}

.my-order .text-wrapper-11 {
position: absolute;
height: 19px;
top: -1px;
left: 0;
font-family: "Roboto-Regular", Helvetica;
font-weight: 400;
color: #3c4242;
font-size: 16px;
text-align: center;
letter-spacing: 0;
line-height: normal;
white-space: nowrap;
}

.my-order .colour-pink {
width: 80px;
top: 31px;
left: -2px;
position: absolute;
height: 11px;
}

.my-order .qty {
position: absolute;
width: 37px;
height: 13px;
top: 54px;
left: -1px;
}

.my-order .text-wrapper-12 {
top: 72px;
left: -3px;
position: absolute;
height: 16px;
font-family: "Roboto-Regular", Helvetica;
font-weight: 400;
color: #807d7e;
font-size: 14px;
text-align: center;
letter-spacing: 0;
line-height: normal;
white-space: nowrap;
}

.my-order .button {
all: unset;
box-sizing: border-box;
display: inline-flex;
align-items: center;
justify-content: center;
gap: 12px;
padding: 14px 28px;
position: absolute;
top: 23px;
left: 750px;
background-color: #fe0000;
border-radius: 8px;
}

.my-order .button-2 {
all: unset;
box-sizing: border-box;
position: relative;
width: fit-content;
margin-top: -1px;
font-family: "Roboto-Regular", Helvetica;
font-weight: 400;
color: #ffffff;
font-size: 18px;
text-align: center;
letter-spacing: 0;
line-height: normal;
white-space: nowrap;
}

.my-order .task-baar {
position: absolute;
width: 1440px;
height: 108px;
top: 0;
left: 276px;
}

.my-order .overlap-3 {
position: relative;
height: 108px;
}

.my-order .frame-7 {
position: absolute;
width: 1237px;
height: 45px;
top: 31px;
left: 102px;
}

.my-order .navbar {
display: inline-flex;
align-items: center;
justify-content: center;
gap: 40px;
position: absolute;
top: 9px;
left: 179px;
}

.my-order .text-wrapper-13 {
position: relative;
width: fit-content;
margin-top: -1px;
font-family: "Roboto-Regular", Helvetica;
font-weight: 400;
color: #807d7e;
font-size: 22px;
letter-spacing: 0;
line-height: normal;
white-space: nowrap;
}

.my-order .text-wrapper-14 {
position: relative;
width: fit-content;
margin-top: -1px;
font-family: "Roboto-Regular", Helvetica;
font-weight: 400;
color: #7f7c7d;
font-size: 22px;
letter-spacing: 0;
line-height: normal;
white-space: nowrap;
}

.my-order .button-3 {
all: unset;
box-sizing: border-box;
display: flex;
width: 267px;
align-items: center;
gap: 12px;
padding: 12px 20px;
position: absolute;
top: 0;
left: 738px;
background-color: #f6f6f6;
border-radius: 8px;
}

.my-order .img-2 {
position: relative;
width: 20px;
height: 20px;
}

.my-order .button-4 {
all: unset;
box-sizing: border-box;
position: relative;
width: fit-content;
margin-top: -0.5px;
font-family: "Roboto-Regular", Helvetica;
font-weight: 400;
color: #807d7e;
font-size: 16px;
text-align: center;
letter-spacing: 0;
line-height: normal;
white-space: nowrap;
}

.my-order .frame-8 {
display: inline-flex;
align-items: flex-start;
gap: 12px;
position: absolute;
top: 0;
left: 1081px;
}

.my-order .component {
display: inline-flex;
align-items: center;
justify-content: center;
gap: 12px;
padding: 12px;
position: relative;
flex: 0 0 auto;
background-color: #f6f6f6;
border-radius: 8px;
}

.my-order .shopping-cart-wrapper {
display: inline-flex;
align-items: center;
justify-content: center;
gap: 12px;
padding: 12px;
position: relative;
flex: 0 0 auto;
background-color: #fe0000;
border-radius: 8px;
}

.my-order .rectangle-5 {
position: absolute;
width: 1440px;
height: 108px;
top: 0;
left: 0;
border-bottom-width: 1px;
border-bottom-style: solid;
border-color: #bebcbd;
}

.my-order .images {
position: absolute;
width: 104px;
height: 100px;
top: 4px;
left: 48px;
object-fit: cover;
}

.my-order .wishlist {
position: absolute;
width: 99px;
height: 22px;
top: 370px;
left: 412px;
}

.my-order .img-3 {
position: absolute;
width: 20px;
height: 20px;
top: 1px;
left: 0;
}

.my-order .sign-out {
position: absolute;
width: 102px;
height: 22px;
top: 476px;
left: 412px;
}

.my-order .my-info {
position: absolute;
width: 93px;
height: 22px;
top: 423px;
left: 412px;
}

.my-order .text-wrapper-15 {
position: absolute;
width: 125px;
top: 285px;
left: 1490px;
font-family: "Open Sans-Regular", Helvetica;
font-weight: 400;
color: #3c4242;
font-size: 22px;
letter-spacing: 0.44px;
line-height: 33.5px;
white-space: nowrap;
}

.my-order .element {
position: absolute;
width: 105px;
height: 150px;
top: 88px;
left: 6px;
object-fit: cover;
}

.my-order .rectangle-6 {
position: absolute;
width: 176px;
height: 55px;
top: -798px;
left: -275px;
}

.my-order .line-2 {
top: -402px;
left: -276px;
position: absolute;
width: 895px;
height: 1px;
object-fit: cover;
}

.my-order .line-3 {
top: -81px;
left: -276px;
position: absolute;
width: 895px;
height: 1px;
object-fit: cover;
}

.my-order .div-wrapper {
position: absolute;
width: 895px;
height: 135px;
top: 700px;
left: 445px;
background-color: #f6f6f6;
border-radius: 8px;
}

.my-order .order-status-shipped {
left: 660px;
position: absolute;
height: 16px;
top: -1px;
font-family: "Roboto-Regular", Helvetica;
font-weight: 400;
color: transparent;
font-size: 14px;
text-align: right;
letter-spacing: 0;
line-height: normal;
white-space: nowrap;
}

.my-order .frame-9 {
position: absolute;
width: 895px;
height: 135px;
top: 1021px;
left: 445px;
background-color: #f6f6f6;
border-radius: 8px;
}

.my-order .frame-10 {
position: absolute;
width: 894px;
height: 96px;
top: 865px;
left: 445px;
}

.my-order .text-wrapper-16 {
position: absolute;
height: 19px;
top: -1px;
left: 0;
font-family: "Roboto-Regular", Helvetica;
font-weight: 400;
color: #3c4242;
font-size: 16px;
letter-spacing: 0;
line-height: normal;
white-space: nowrap;
}

.my-order .colour-white {
width: 87px;
top: 30px;
left: 1px;
position: absolute;
height: 11px;
}

.my-order .text-wrapper-17 {
top: 73px;
left: -2px;
position: absolute;
height: 16px;
font-family: "Roboto-Regular", Helvetica;
font-weight: 400;
color: #807d7e;
font-size: 14px;
text-align: center;
letter-spacing: 0;
line-height: normal;
white-space: nowrap;
}

.my-order .frame-11 {
position: absolute;
width: 894px;
height: 96px;
top: 1186px;
left: 445px;
}

.my-order .text-wrapper-18 {
position: absolute;
height: 19px;
top: -1px;
left: 3px;
font-family: "Roboto-Regular", Helvetica;
font-weight: 400;
color: #3c4242;
font-size: 16px;
letter-spacing: 0;
line-height: normal;
white-space: nowrap;
}

.my-order .colour-blue {
width: 79px;
top: 32px;
left: 5px;
position: absolute;
height: 11px;
}

.my-order .qty-2 {
position: absolute;
width: 37px;
height: 13px;
top: 54px;
left: 5px;
}

.my-order .text-wrapper-19 {
top: 72px;
left: 0;
position: absolute;
height: 16px;
font-family: "Roboto-Regular", Helvetica;
font-weight: 400;
color: #807d7e;
font-size: 14px;
text-align: center;
letter-spacing: 0;
line-height: normal;
white-space: nowrap;
}

.my-order .need-help-section {
position: absolute;
width: 1440px;
height: 731px;
top: 1412px;
left: 7px;
background-color: #3c4242;
}

.my-order .frame-12 {
position: relative;
width: 1220px;
height: 613px;
top: 59px;
left: 110px;
}

.my-order .icon {
position: absolute;
width: 20px;
height: 11px;
top: 491px;
left: 1169px;
}

.my-order .frame-13 {
position: absolute;
width: 1059px;
height: 292px;
top: 0;
left: 76px;
}

.my-order .frame-14 {
position: absolute;
width: 394px;
height: 204px;
top: 0;
left: 665px;
}

.my-order .text-wrapper-20 {
position: absolute;
top: -1px;
left: 0;
font-family: "Roboto-Bold", Helvetica;
font-weight: 700;
color: #f6f6f6;
font-size: 28.6px;
letter-spacing: 0;
line-height: 62px;
white-space: nowrap;
}

.my-order .frame-15 {
position: absolute;
width: 394px;
height: 127px;
top: 77px;
left: 0;
}

.my-order .p {
position: absolute;
top: -21px;
left: 0;
font-family: "Roboto-Regular", Helvetica;
font-weight: 400;
color: #f6f6f6;
font-size: 18px;
letter-spacing: 0;
line-height: 39px;
white-space: nowrap;
}

.my-order .text-wrapper-21 {
position: absolute;
top: 24px;
left: 0;
font-family: "Roboto-Regular", Helvetica;
font-weight: 400;
color: #f6f6f6;
font-size: 18px;
letter-spacing: 0;
line-height: 39px;
white-space: nowrap;
}

.my-order .frame-16 {
position: absolute;
width: 162px;
height: 248px;
top: 0;
left: 423px;
}

.my-order .frame-17 {
position: absolute;
width: 162px;
height: 171px;
top: 77px;
left: 0;
}

.my-order .text-wrapper-22 {
position: absolute;
top: -1px;
left: 0;
font-family: "Roboto-Regular", Helvetica;
font-weight: 400;
color: #f6f6f6;
font-size: 18px;
letter-spacing: 0;
line-height: 39px;
white-space: nowrap;
}

.my-order .text-wrapper-23 {
position: absolute;
top: 43px;
left: 0;
font-family: "Roboto-Regular", Helvetica;
font-weight: 400;
color: #f6f6f6;
font-size: 18px;
letter-spacing: 0;
line-height: 39px;
white-space: nowrap;
}

.my-order .text-wrapper-24 {
position: absolute;
top: 87px;
left: 0;
font-family: "Roboto-Regular", Helvetica;
font-weight: 400;
color: #f6f6f6;
font-size: 18px;
letter-spacing: 0;
line-height: 39px;
white-space: nowrap;
}

.my-order .text-wrapper-25 {
position: absolute;
top: 131px;
left: 0;
font-family: "Roboto-Regular", Helvetica;
font-weight: 400;
color: #f6f6f6;
font-size: 18px;
letter-spacing: 0;
line-height: 39px;
white-space: nowrap;
}

.my-order .frame-18 {
position: absolute;
width: 142px;
height: 292px;
top: 0;
left: 0;
}

.my-order .frame-19 {
position: absolute;
width: 142px;
height: 215px;
top: 77px;
left: 0;
}

.my-order .text-wrapper-26 {
position: absolute;
top: 175px;
left: 0;
font-family: "Roboto-Regular", Helvetica;
font-weight: 400;
color: #f6f6f6;
font-size: 18px;
letter-spacing: 0;
line-height: 39px;
white-space: nowrap;
}

.my-order .frame-20 {
position: absolute;
width: 121px;
height: 292px;
top: 0;
left: 222px;
}

.my-order .frame-21 {
position: absolute;
width: 108px;
height: 215px;
top: 77px;
left: 0;
}

.my-order .text-wrapper-27 {
position: absolute;
width: 242px;
height: 21px;
top: 484px;
left: 76px;
font-family: "Roboto-Bold", Helvetica;
font-weight: 700;
color: #f6f6f6;
font-size: 28.6px;
letter-spacing: 0;
line-height: 57.2px;
white-space: nowrap;
}

.my-order .frame-22 {
display: inline-flex;
align-items: flex-start;
gap: 9.97px;
position: absolute;
top: 369px;
left: 83px;
}

.my-order .group {
width: 37.02px;
background-color: #f6f6f6;
border-radius: 10.68px;
position: relative;
height: 37.02px;
}

.my-order .vector {
position: absolute;
width: 10px;
height: 18px;
top: 9px;
left: 14px;
}

.my-order .vector-2 {
width: 16px;
height: 16px;
position: absolute;
top: 11px;
left: 11px;
}

.my-order .vector-3 {
width: 18px;
height: 14px;
position: absolute;
top: 11px;
left: 11px;
}

.my-order .overlap-group-wrapper {
width: 39.02px;
margin-right: -2px;
position: relative;
height: 37.02px;
}

.my-order .overlap-group-2 {
position: relative;
width: 37px;
height: 37px;
background-color: #f6f6f6;
border-radius: 10.68px;
}

.my-order .text-wrapper-28 {
position: absolute;
width: 16px;
top: 4px;
left: 11px;
font-family: "Roboto-Bold", Helvetica;
font-weight: 700;
color: #2c2c2c;
font-size: 17.1px;
letter-spacing: 0.34px;
line-height: 28.5px;
white-space: nowrap;
}

.my-order .line-4 {
position: absolute;
width: 1220px;
height: 1px;
top: 455px;
left: 0;
object-fit: cover;
}

.my-order .line-5 {
position: absolute;
width: 1220px;
height: 1px;
top: 539px;
left: 0;
object-fit: cover;
}

.my-order .text-wrapper-29 {
position: absolute;
height: 36px;
top: 576px;
left: 377px;
font-family: "Roboto-Bold", Helvetica;
font-weight: 700;
color: #ffffff;
font-size: 18px;
letter-spacing: 0;
line-height: 36px;
white-space: nowrap;
}

.my-order .element-lpk {
position: absolute;
width: 105px;
height: 120px;
top: -542px;
left: -275px;
}

.my-order .element-2 {
position: absolute;
width: 110px;
height: 130px;
top: -214px;
left: -275px;
}