.sign-in-page {
background-color: #ffffff;
display: flex;
flex-direction: row;
justify-content: center;
width: 100%;
}

.sign-in-page .div {
background-color: #ffffff;
overflow: hidden;
width: 1440px;
height: 1067px;
position: relative;
}

.sign-in-page .bert-b {
position: absolute;
width: 695px;
height: 956px;
top: 120px;
left: 20px;
}

.sign-in-page .frame {
position: absolute;
width: 568px;
height: 697px;
top: 185px;
left: 772px;
}

.sign-in-page .text-wrapper {
position: absolute;
height: 46px;
top: -8px;
left: 0;
font-family: "Open Sans-Regular", Helvetica;
font-weight: 400;
color: #333333;
font-size: 34px;
letter-spacing: 0.68px;
line-height: normal;
}

.sign-in-page .frame-2 {
position: absolute;
width: 568px;
height: 614px;
top: 83px;
left: 0;
}

.sign-in-page .divider {
position: absolute;
width: 568px;
height: 18px;
top: 90px;
left: 0;
}

.sign-in-page .divider-2 {
left: 0;
position: absolute;
width: 248px;
height: 2px;
top: 8px;
background-color: #66666640;
}

.sign-in-page .text-wrapper-2 {
position: absolute;
height: 25px;
top: -4px;
left: 270px;
font-family: "Open Sans-Regular", Helvetica;
font-weight: 400;
color: #666666;
font-size: 18px;
letter-spacing: 0;
line-height: normal;
}

.sign-in-page .divider-3 {
left: 320px;
position: absolute;
width: 248px;
height: 2px;
top: 8px;
background-color: #66666640;
}

.sign-in-page .button {
all: unset;
box-sizing: border-box;
display: flex;
width: 567px;
align-items: center;
justify-content: center;
gap: 12px;
padding: 16px 20px;
position: absolute;
top: 0;
left: 1px;
border-radius: 8px;
border: 1px solid;
border-color: #3c4242;
}

.sign-in-page .img {
position: relative;
width: 20px;
height: 20px;
}

.sign-in-page .button-2 {
all: unset;
box-sizing: border-box;
position: relative;
width: fit-content;
margin-top: -1px;
font-family: "Roboto-Regular", Helvetica;
font-weight: 400;
color: #6d7171;
font-size: 22px;
text-align: center;
letter-spacing: 0;
line-height: normal;
white-space: nowrap;
}

.sign-in-page .email-address {
position: absolute;
width: 567px;
height: 90px;
top: 140px;
left: 0;
}

.sign-in-page .label {
position: absolute;
top: -1px;
left: 0;
font-family: "Roboto-Regular", Helvetica;
font-weight: 400;
color: #3c4242;
font-size: 18px;
letter-spacing: 0.36px;
line-height: normal;
white-space: nowrap;
}

.sign-in-page .button-3 {
display: flex;
width: 567px;
align-items: center;
justify-content: center;
gap: 12px;
padding: 16px 20px;
position: absolute;
top: 32px;
left: 0;
border-radius: 8px;
border: 1px solid;
border-color: #3c4242;
}

.sign-in-page .password {
position: absolute;
width: 571px;
height: 124px;
top: 262px;
left: 1px;
}

.sign-in-page .text-wrapper-3 {
position: absolute;
top: 104px;
left: 412px;
font-family: "Roboto-Regular", Helvetica;
font-weight: 400;
color: #3c4242;
font-size: 16px;
text-align: right;
letter-spacing: 0;
line-height: normal;
text-decoration: underline;
white-space: nowrap;
}

.sign-in-page .password-2 {
position: absolute;
width: 559px;
height: 27px;
top: 0;
left: 3px;
}

.sign-in-page .frame-3 {
position: absolute;
width: 70px;
height: 22px;
top: 3px;
left: 495px;
}

.sign-in-page .text-wrapper-4 {
position: absolute;
top: -1px;
left: 32px;
font-family: "Roboto-Regular", Helvetica;
font-weight: 400;
color: #807d7e;
font-size: 18px;
text-align: right;
letter-spacing: 0;
line-height: normal;
white-space: nowrap;
}

.sign-in-page .hide-view {
position: absolute;
width: 18px;
height: 16px;
top: 5px;
left: 0;
}

.sign-in-page .label-2 {
position: absolute;
top: 2px;
left: 0;
font-family: "Roboto-Regular", Helvetica;
font-weight: 400;
color: #3c4242;
font-size: 18px;
letter-spacing: 0.36px;
line-height: normal;
white-space: nowrap;
}

.sign-in-page .button-4 {
display: flex;
width: 567px;
align-items: center;
justify-content: center;
gap: 12px;
padding: 16px 20px;
position: absolute;
top: 37px;
left: 0;
border-radius: 8px;
border: 1px solid;
border-color: #3c4242;
}

.sign-in-page .sign-in {
position: absolute;
width: 211px;
height: 83px;
top: 418px;
left: 0;
}

.sign-in-page .don-t-have-an {
position: absolute;
top: 63px;
left: 0;
font-family: "Roboto-Regular", Helvetica;
font-weight: 400;
color: transparent;
font-size: 16px;
letter-spacing: 0;
line-height: normal;
white-space: nowrap;
}

.sign-in-page .span {
color: #3c4242;
}

.sign-in-page .text-wrapper-5 {
color: #3c4242;
text-decoration: underline;
}

.sign-in-page .button-5 {
all: unset;
box-sizing: border-box;
display: flex;
width: 167px;
align-items: center;
justify-content: center;
gap: 12px;
padding: 16px 20px;
position: absolute;
top: 0;
left: 0;
background-color: #3c4242;
border-radius: 8px;
}

.sign-in-page .button-6 {
all: unset;
box-sizing: border-box;
position: relative;
width: fit-content;
margin-top: -1px;
font-family: "Roboto-Regular", Helvetica;
font-weight: 400;
color: #ffffff;
font-size: 18px;
text-align: center;
letter-spacing: 0;
line-height: normal;
white-space: nowrap;
}

.sign-in-page .overlap-group-wrapper {
position: absolute;
width: 1440px;
height: 111px;
top: 0;
left: 0;
border-bottom-width: 1px;
border-bottom-style: solid;
border-color: #bebcbd;
}

.sign-in-page .overlap-group {
position: relative;
width: 1292px;
height: 100px;
top: 5px;
left: 48px;
}

.sign-in-page .frame-4 {
position: absolute;
width: 1240px;
height: 46px;
top: 29px;
left: 52px;
}

.sign-in-page .select-langauge {
position: absolute;
width: 206px;
height: 24px;
top: 12px;
left: 649px;
}

.sign-in-page .text-wrapper-6 {
position: absolute;
top: -1px;
left: 0;
font-family: "Roboto-Regular", Helvetica;
font-weight: 400;
color: #333333;
font-size: 18px;
letter-spacing: 0;
line-height: normal;
white-space: nowrap;
}

.sign-in-page .vector {
position: absolute;
width: 24px;
height: 24px;
top: 470px;
left: 4621px;
}

.sign-in-page .vector-2 {
position: absolute;
width: 10px;
height: 5px;
top: 10px;
left: 189px;
}

.sign-in-page .button-7 {
all: unset;
box-sizing: border-box;
display: inline-flex;
align-items: center;
justify-content: center;
gap: 12px;
padding: 12px 48px;
position: absolute;
top: 0;
left: 255px;
background-color: #f6f6f6;
border-radius: 8px;
}

.sign-in-page .button-8 {
all: unset;
box-sizing: border-box;
position: relative;
width: fit-content;
margin-top: -1px;
font-family: "Roboto-Regular", Helvetica;
font-weight: 400;
color: #807d7e;
font-size: 18px;
text-align: center;
letter-spacing: 0;
line-height: normal;
white-space: nowrap;
}

.sign-in-page .button-9 {
all: unset;
box-sizing: border-box;
display: inline-flex;
align-items: center;
justify-content: center;
gap: 12px;
padding: 12px 48px;
position: absolute;
top: 0;
left: 915px;
background-color: #3c4242;
border-radius: 8px;
}

.sign-in-page .button-10 {
all: unset;
box-sizing: border-box;
display: inline-flex;
align-items: center;
justify-content: center;
gap: 12px;
padding: 12px 48px;
position: absolute;
top: 0;
left: 1084px;
border-radius: 8px;
border: 1px solid;
border-color: #3c4242;
}

.sign-in-page .button-11 {
all: unset;
box-sizing: border-box;
position: relative;
width: fit-content;
margin-top: -1px;
font-family: "Roboto-Regular", Helvetica;
font-weight: 400;
color: #3c4242;
font-size: 18px;
text-align: center;
letter-spacing: 0;
line-height: normal;
white-space: nowrap;
}

.sign-in-page .images {
position: absolute;
width: 104px;
height: 100px;
top: 0;
left: 0;
object-fit: cover;
}